*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    width: 98vw;
}
.field {
    display: inline-block;
    margin: 100px 0 100px 100px;
    border: 1px solid #46aae5;
}
.field__main-table {
    position: relative;
}
.field__main-table-cell {
    width: 48px;
    height: 48px;
    background: #46aae5;
}
.field__btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.field__btn-delete-row {
    display: none;
    top: 0;
    right: 100%;
    background: #d20505;
    margin-right: 3px;
    transition: background-color 1.7s;
}
.field__btn-delete-row:hover {
    background: #d45f68;
}
.field__btn-delete-column {
    display: none;
    left: 0;
    bottom: 100%;
    background: #d20505;
    margin-bottom: 3px;
    transition: background-color 1.7s;
}
.field__btn-delete-column:hover {
    background: #d45f68;
}
.field__btn-add-row {
    display: block;
    background: #fa982b;
    transition: 1s ease;
    cursor: pointer;
    margin-top: 3px;
}
.field__btn-add-row:hover {
    background: #ffbe4a;
}
.field__btn-add-column {
    display: block;
    left: 100%;
    top: 0;
    background: #fa982b;
    transition: 1s ease;
    margin-left: 3px;
}
.field__btn-add-column:hover {
    background: #ffbe4a;
}