*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    position: relative;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #46aae5;
}
.block__main-table {
    position: relative;
    transition: .4s ease;
    z-index: 1;
}
.block__main-table__table {
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.block__main-table__table__row {
    position: relative;
    width: 200px;
    height: 50px;
}
.block__main-table__table__elem {
    position: relative;
    z-index: 50;
    width: 48px;
    height: 48px;
    background: #46aae5;
    border: 2px solid #ffffff;
    transition: .4s ease;
}
.block:hover .delete-row {
    opacity: 1;
}
.block:hover .delete-column {
    opacity: 1;
}
.delete-row {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0px;
    left: -53px;
    color: #ffffff;
    width: 50px;
    height: 52px;
    background: #d20505;
    border: 2px solid #ffffff;
    transition: .4s ease;
    cursor: pointer;
}
.delete-row:hover {
    background: #d45f68;
}
.delete-column {
    opacity: 0;
    position: absolute;
    display: none;
    left: -1px;
    top: -53px;
    width: 52px;
    height: 50px;
    background: #d20505;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: .4s ease;
    cursor: pointer;
}
.delete-column:hover {
    background: #d45f68;
}
.add-row {
    opacity: 1;
    position: absolute;
    bottom: -52px;
    left: 1px;
    width: 50px;
    height: 50px;
    background: #fa982b;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: .4s ease;
    cursor: pointer;
}
.add-row:hover {
    background: #ffbe4a;
}
.add-column {
    opacity: 1;
    position: absolute;
    right: -54px;
    top: 0px;
    width: 52px;
    height: 50px;
    background: #fa982b;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: .4s ease;
    cursor: pointer;
}
.add-column:hover {
    background: #ffbe4a;
}